<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{:: title})">
    <meta charset="UTF-8">
    <title>404</title>
</head>
<body>
    <!--导航-->
    <div th:replace="_fragments :: menu(1)"></div>
    <br>
    <br>
    <br>

    <div class="m-container-small m-padded-tb-massive">
        <div class="ui error message m-padded-tb-huge">
            <h2>404</h2>
            <p>对不起，您访问的资源不存在</p>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    
    <!--footer-->
    <div th:replace="_fragments :: footer"></div>
</body>
</html>